@media screen and (min-width: 1620px) {
  .row.shift-up {
    > * {
      margin-top: -573px;
    }
  }
}

@media screen and (max-width: 1620px) {
  .card.feed-panel.large-card {
    height: 824px;
  }
}

.user-stats-card {
  .card-title {
    padding: 0 0 15px;
  }
}

.nav-tab {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

.nav-tab:visited, a:link {
  color: #607D8B;
}

.nav-tab:hover {
  color: #039be5;
  background-color: #CFD8DC;
}

.nav-tab.active {
  color: #039be5;
}