.name {
  color: #6666ff;
}

.name:hover {
  cursor: pointer;
}

.label {
  padding: 5px;
  margin: 20px 10px 0px 0px;
  color: whitesmoke;
}

.edit {
  color: whitesmoke;
}

.set {
  color: whitesmoke;
}