<!-- Busy-Loading Indicator -->
<div [ngBusy]="{busy: busy, message: 'Aggiornamento in corso...', backdrop: false, delay: 0, minDuration: 500}"></div>

<ba-card title="Gestione Contatti">
  <div class="widget-body table-responsive">
    <table class="table table-striped table-bordered table-hover contactsTable">
      <thead>
        <tr>
          <th>
            <i class="fa fa-list-ol"></i> Contatto N.
          </th>
          <th>
            <i class="fa fa-bolt"></i> Potenza Max Carico (Watt)
          </th>
          <th class="hidden-xs">
            <i class="fa fa-file-o"></i> Tipo
          </th>
          <th>
            <i class="fa fa-map-marker"></i> Posizione/Morsetto
          </th>
          <th>
            <i class="fa fa-hand-o-right"></i> Aziona Uscita
          </th>
          <th>
            <i class="fa fa-toggle-on"></i> Stato On/Off
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let entry of contactsList">
          <td>
            <div *ngIf"!entry.edit" style="display: inline block">
              <div style="float: left">
                <a (click)="onContactNameClicked({{entry.id}})" ng-click-options="{preventDoubleClick: true}">{{entry.name}}</a>
              </div>
              <div style="float: right">
                <a class="btn btn-info btn-xs edit editRuleBtn" (click)="onContactNameClicked({{entry.id}})" ng-click-options="{preventDoubleClick: true}"><i class="fa fa-edit"></i>Modifica</a>
              </div>
            </div>
            <div class="input-group" *ngIf="entry.edit">
              <input type="text" class="form-control" name="contactNameEdit" value="{{entry.name}}" [(ngModel)]="entry.name" />
              <div class="input-group-addon" style="padding: 4px 12px !important;" (click)="onContactNameSaved({{entry.id}})" ng-click-options="{preventDoubleClick: true}"><a class="btn btn-success btn-xs edit editRuleBtn"><i class="fa fa-save"></i> Salva </a></div>
            </div>
          </td>
          <td *ngIf="entry.type == 'Uscita' ? true : false">
            <div *ngIf="!entry.editpower" style="display: inline block">
              <div style="float: left">
                <a (click)="onContactNameClickedWatt({{entry.id}})" ng-click-options="{preventDoubleClick: true}">{{entry.power}}</a>
              </div>
              <div style="float: right">
                <a class="btn btn-info btn-xs edit editRuleBtn" (click)="onContactNameClickedWatt({{entry.id}})" ng-click-options="{preventDoubleClick: true}"><i class="fa fa-edit"></i>Imposta</a>
              </div>
            </div>
            <div class="input-group" *ngIf="entry.editpower">
              <input type="text" class="form-control" name="contactNameEdit" value="{{entry.power}}" [(ngModel)]="entry.power" />
              <div class="input-group-addon" style="padding: 4px 12px !important;" (click)="onContactNameSavedWatt({{entry.id}})" ng-click-options="{preventDoubleClick: true}"><a class="btn btn-success btn-xs edit editRuleBtn"><i class="fa fa-save"></i> Salva </a></div>
            </div>
          </td>
          <td *ngIf="entry.type == 'Uscita' ? false : true">
          </td>
          <td class="hidden-xs">
              {{entry.type}}
          </td>
          <td>
            <span *ngFor="label of entry.labels" class="label {{label.className}}">
              {{label.text}}
            </span>
          </td>
          <td *ngIf="entry.type == 'Ingresso' ? true : false">
            <label>
              <span class="text"></span>
            </label>
          </td>
          <td *ngIf="entry.type == 'Ingresso' ? true : false">
            <label>
              <!--<input class="checkbox-slider toggle ios" type="checkbox" ng-class="onContactInputClass(checked)" ng-model="checked" ng-disabled="true" readonly />
              <span class="text"></span>-->
              <i class="fa fa-circle-thin lightgray" *ngIf="checked" [disabled]="true" readonly />
              <i class="fa fa-circle green" *ngIf="checked" [disabled]="true" readonly />
              <i class="fa fa-circle red" *ngIf="!checked" [disabled]="true" readonly />
              <i class="fa fa-circle-thin lightgray" *ngIf="!checked" [disabled]="true" readonly />
              <span class="text"></span>
            </label>
          </td>
          <td *ngIf="entry.type == 'Uscita' ? true : false">
            <label>
              <input class="checkbox-slider colored-palegreen" type="checkbox" (ngModelChange)="onContactGoDigital({{entry.id}}, checked)" [(ngModel)]="checked" />
              <span class="text"></span>
            </label>
          </td>
          <td *ngIf="entry.type == 'Uscita' ? true : false">
            <label>
              <!--<input class="checkbox-slider colored-palegreen toogle ios" type="checkbox" ng-class="onContactInputClass(checked)" ng-model="checked" ng-checked="entry.status" ng-disabled="true" readonly />
              <span class="text"></span-->
              <i class="fa fa-circle-thin lightgray" *ngIf="checked" [disabled]="true" readonly />
              <i class="fa fa-circle green" *ngIf="checked" [disabled]="true" readonly />
              <i class="fa fa-circle red" *ngIf="!checked" [disabled]="true" readonly />
              <i class="fa fa-circle-thin lightgray" *ngIf="!checked" [disabled]="true" readonly />
              <span class="text"></span>
            </label>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ba-card>

<ba-card>
  <div class="text-justify">
    <p><i class="fa lightbulb-o" style="color: #008000"></i> Da questa sezione puoi gestire la lista delle etichette associate ai contatti.</p>
  </div>
</ba-card>

<app-modal>
  <div class="app-modal-header">
    {{modalTitle}}
  </div>
  <div class="app-modal-body">
    {{MessageSettings}}
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-primary" (click)="modal.hide()">Chiudi</button>
  </div>
</app-modal>
