@import "../../../theme/sass/conf/conf";

.upper {
  padding-bottom: 10px;
}

.lower {
  padding-top: 10px;
}

.palegreen {
  color: $bgPalegreen;
}

.green {
  color: $bgGreen;
}

.red {
  color: $red;
}
