@import "../../../../theme/sass/conf/conf";

.dashboard-line-chart {
  width: 100%;
  height: 340px;
  padding-top: 20px;
  margin-top: -10px;
}

.datepicker {
  z-index:1000;
}

.balance-pieChart-chart {
  width: 100%;
  height: 153px;
  padding-top: 20px;
  margin-top: -10px;
}

.piechart-legend {
  padding-top: 30px;
}

.savings {
  color: $bgGreen;
}

.text-icon {
  color: $bgGreen;
}