@import "../../../../theme/sass/conf/conf";

.event {
  font-weight: bold;
}

.label-green {
  color: $bgGreen;
}

.label-yellow {
  color: $bgYellow;
}

.label-red {
  color: $red;
}

.ng-busy {
  margin-top: -200px;
}